[Unit]
Description=Create symlinks to dotfiles
After=multi-user.target

[Service]
User=
Group=
ExecStart=~/.dotfile_switcher/startup.sh
Type=oneshot

[Install]
WantedBy=graphical.target
